<!--
  ~ Copyright (c) 2015. Paweł Cesar Sanjuan Szklarz.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<suite name="CoreapiTest" verbose="2" thread-count="4">
    <test name="apiTest">
        <classes>
            <class name="eu.pmsoft.sam.transport.TransportTest"/>
            <class name="eu.pmsoft.sam.architecture.test.ArchitectureLoadingNegativeTest"/>
            <class name="eu.pmsoft.sam.architecture.test.ArchitectureLoadingPositiveTest"/>
            <class name="eu.pmsoft.see.api.TestServiceExecutionCreationByStep"/>
            <class name="eu.pmsoft.sam.idgenerator.IdGenerationTest"/>
            <class name="eu.pmsoft.sam.see.SamEnvironmentExternalApiTest"/>
            <class name="eu.pmsoft.sam.see.ServiceExecutionEnvironmentTest"/>
        </classes>
    </test>
</suite>